


<form action="/create" >
<div class="container">
  <div class="row">
    <div class="col">
      <label for="username">  <p class="font-weight-bold">Add player</p> </label><br>
      <input type="text" class="form-control" name="username" placeholder="Enter player name">
      <button type="submit" class="btn btn-info">Submit</button>
      <p>
      </p>
    </div>   
  </div>
</div>
</form>


<div class="container">
<div class="row">
  <div class="col-sm-2">
  Name
  </div>
  <div class="col-sm-2">
  Goals count
  </div>
  <div class="col-sm-2">
  Matches played
  </div>
  <div class="col-md-auto">
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
  </div>
  <p>
  </p>
  <% @users.each do |user| %>
    <div class="row">
      <div class="col-sm-2">
        <%= user.username %>
      </div>

      <div class="col-sm-2">
        <%= user.goals_count %>
      </div>
      <div class="col-sm-2">
      <%= user.match_count %>
      </div>
      <div class="col-md-auto">

        <form class="form-inline" action="/add_goal" style="display: inline;">
          <input type="hidden" name="user_id" value="<%= user.id %>">
          <button type="submit" class="btn btn-success">Add goal</button>
        </form>

        <form class="form-inline" action="/subtract_goal" style="display: inline;">
          <input type="hidden" name="user_id" value="<%= user.id %>">
          <button type="submit" class="btn btn-danger">Subtract goal</button>
        </form>
        
        <form class="form-inline" action="/add_match" style="display: inline;">
          <input type="hidden" name="user_id" value="<%= user.id %>">
          <button type="submit" class="btn btn-primary">Add match</button>
        </form>

        <form class="form-inline" action="/subtract_match" style="display: inline;">
          <input type="hidden" name="user_id" value="<%= user.id %>">
          <button type="submit" class="btn btn-warning">Subtract match</button>
        </form>
      </div>
    </div>
  <% end %>

</div>


    </div>
  </div>
</div>

