<div class="container">
  <div class="row">
    <div class="col-3">
      <form action="/create" method=post>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <label for="username" class="font-weight-bold">Add user</label><br>
        <input type="text" class="form-control" name="username" placeholder="Enter username">
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
    </div>   
  </div>
</div>

<p>
</p>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <p class="font-weight-bold">Name</p>
    </div>
    <div class="col-sm-2">
      <p class="font-weight-bold">Goals count</p>
    </div>
    <div class="col-sm-2">
      <p class="font-weight-bold">Matches played</p>
    </div>
    <div class="col-md-auto">
    </div>
  </div>
</div>

<div class="container">
  
  <% @users.each do |user| %>
    <div class="row">
      <div class="col-sm-2">
        <%= user.username %>
      </div>
      <div class="col-sm-2">
        <%= user.goals_count %>
      </div>
      <div class="col-sm-2">
        <%= user.match_count %>
      </div>
      <div class="col-md-auto">
        <form class="form-inline" action="/destroy" method="post" style="display: inline;">
          <input type="hidden" value="delete" name="_method">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token() %>"/>
          <input type="hidden" name="user_id" value="<%= user.id %>">
          <button type="submit" class="btn btn-outline-dark btn-sm">Remove user</button>
        </form>
      </div>
    </div>
  <% end %>
</div>

<p>
</p>

<div class="container">
  <div class="row">
    <div class="col-3">
      <form action="/match_create" method=post>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <label for="home_team_name" class="font-weight-bold">Add match teams</label><br>
        <input type="text" class="form-control" name="match[home_team_name]" placeholder="Enter home team">
        <p>
        </p>
        <input type="text" class="form-control" name="match[away_team_name]" placeholder="Enter away team">
        <p>
        </p>
        <label for="home_score" class="font-weight-bold">Add score</label><br>
        <div class="form-row">
          <div class="col">
            <input type="number" min="0" max="150" class="form-control" name="match[home_score]" placeholder="Home">
          </div>
          <div class="col-sm-1">
          <input type="text" readonly class="form-control-plaintext text-center" id=":" value=":">
          </div>
          <div class="col">
            <input type="number" min="0" max="150" class="form-control" name="match[away_score]" placeholder="Away">
          </div>
        </div>
        <button type="submit" class="btn btn-info float-right">Submit</button>
      </form>
    </div>   
  </div>
</div>

<p>
</p>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <p class="font-weight-bold">Home team</p>
    </div>
    <div class="col-sm-2">
      <p class="font-weight-bold">Away team</p>
    </div>
    <div class="col-sm-2">
      <p class="font-weight-bold">Score</p>
    </div>
    <div class="col-md-auto">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
  </div>
  <% @matches.each do |match| %>
    <div class="row">
      <div class="col-sm-2">
        <%= link_to match.home_squad.team_name, team_show_path(team_id: match.home_squad.team.id), method: "get", class: "text-dark" %>
      </div>
      <div class="col-sm-2">
        <%= link_to match.away_squad.team_name, team_show_path(team_id: match.away_squad.team.id), method: "get", class: "text-dark" %>
      </div>
      <div class="col-sm-2">
        <%= match.match_result %>
      </div>
      <div class="col-md-auto">
        <form class="form-inline" action="/match_destroy" method=post style="display: inline;">
        <input type="hidden" value="delete" name="_method">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token() %>"/>
        <input type="hidden" name="match_id" value="<%= match.id %>">
        <button type="submit" class="btn btn-outline-dark btn-sm">Remove match result</button>
        </form>
        <%= link_to "Match details", match_show_path(match_id: match.id), method: "get", class: "btn btn-primary" %>   
      </div>
    </div>
  <% end %>
</div>
