



<div class="container">
  <div class="row">
    <div class="col">
      <form action="/create" >
        <label for="username">  <p class="font-weight-bold">Add user</p> </label><br>
        <input type="text" class="form-control" name="username" placeholder="Enter username">
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
    </div>   
  </div>
</div>

<p>
</p>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
    Name
    </div>
    <div class="col-sm-2">
    Goals count
    </div>
    <div class="col-sm-2">
    Matches played
    </div>
    <div class="col-md-auto">
    </div>
  </div>
</div>

<p>
</p>

<div class="container">
  
  <% @users.each do |user| %>
    <div class="row">
      <div class="col-sm-2">
        <%= user.username %>
      </div>
      <div class="col-sm-2">
        <%= user.goals_count %>
      </div>
      <div class="col-sm-2">
        <%= user.match_count %>
      </div>
      <div class="col-md-auto">
        <form class="form-inline" action="/destroy" style="display: inline;">
          <input type="hidden" name="user_id" value="<%= user.id %>">
          <button type="submit" class="btn btn-outline-dark btn-sm">Remove user</button>
        </form>
      </div>
    </div>
  <% end %>
</div>

<p>
</p>

<div class="container">
  <div class="row">
    <div class="col">
      <form action="/match_create" >
        <label for="home_team_name">  <p class="font-weight-bold">Add match result</p> </label><br>
        <input type="text" class="form-control" name="home_team_name" placeholder="Enter home team">
        <p>
        </p>
        <input type="text" class="form-control" name="away_team_name" placeholder="Enter away team">
        <p>
        </p>
        <input type="text" class="form-control" name="match_result" placeholder="Enter result">
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
    </div>   
  </div>
</div>

<p>
</p>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
    Home team
    </div>
    <div class="col-sm-2">
    Away team
    </div>
    <div class="col-sm-2">
    Score
    </div>
    <div class="col-md-auto">
    </div>
  </div>
</div>

<p>
</p>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
  </div>
  <% @matches.each do |match| %>
    <div class="row">
      <div class="col-sm-2">
        <%= match.home_squad.team_name %>
      </div>
      <div class="col-sm-2">
        <%= match.away_squad.team_name %>
      </div>
      <div class="col-sm-2">
        <%= match.match_result %>
      </div>
      <div class="col-md-auto">
        <form class="form-inline" action="/match_destroy" style="display: inline;">
        <input type="hidden" name="match_id" value="<%= match.id %>">
        <button type="submit" class="btn btn-outline-dark btn-sm">Remove match result</button>
        </form>
        <%= link_to "Match details", match_show_path(match_id: match.id), method: "get", class: "btn btn-primary", target: "_blank" %>   
      </div>
    </div>
    <% end %>
</div>
