<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <p class="font-weight-bold">Home team</p>
    </div>
    <div class="col-sm-2">
      <p class="font-weight-bold">Away team</p>
    </div>
    <div class="col-sm-2">
      <p class="font-weight-bold">Score</p>
    </div>
    <div class="col-md-auto">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <%= @match.home_squad.team_name %>
    </div>
    <div class="col-sm-2">
      <%= @match.away_squad.team_name %>
    </div>
    <div class="col-sm-2">
      <%= @match.match_result %>
    </div>
    <div class="col-md-auto">
    </div>
  </div>
</div>

<p>
</p>

<% if @home_players.present? %>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <p class="font-weight-bold">Home team players</p>
      </div>
      <div class="col-sm-2">
        <p class="font-weight-bold">Goals scored</p>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-md-auto">
      </div>
    </div>
  </div>
<% end %>

<div class="container"> 
  <% @home_players.each do |player| %>
    <div class="row"> 
      <div class="col-sm-2">
        <%= player.username %>
      </div>
      <div class="col-sm-2">
        <%= player.goals_scored %>
      </div>
      <div class="col-sm-2"> 
      </div>
      <div class="col-md-auto">

        <form class="form-inline" action="/add_goal_scored" method=post style="display: inline;"> 
          <input type="hidden" value="put" name="_method">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token() %>"/>
          <input type="hidden" name="match_id" value="<%= @match.id %>">  
          <input type="hidden" name="player_id" value="<%= player.id %>">
          <button type="submit" class="btn btn-success btn-sm">Add goal</button>
        </form>

        <form class="form-inline" action="/subtract_goal_scored" method=post style="display: inline;">
          <input type="hidden" value="put" name="_method">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token() %>"/>
          <input type="hidden" name="match_id" value="<%= @match.id %>">
          <input type="hidden" name="player_id" value="<%= player.id %>">
          <button type="submit" class="btn btn-danger btn-sm">Subtract goal</button>
        </form>
        
        <form class="form-inline" action="/destroy_player" method=post style="display: inline;">
          <input type="hidden" value="delete" name="_method">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token() %>"/>
          <input type="hidden" name="match_id" value="<%= @match.id %>">
          <input type="hidden" name="player_id" value="<%= player.id %>">
          <button type="submit" class="btn btn-outline-dark btn-sm">Remove player</button>
        </form>
      </div>
    </div>
  <% end %>
</div> 

<p>
</p>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2"> 
    </div>
    <div class="col-md-auto">
      <form class="form-inline" action="/player_create" method=post style="display: inline;">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="match_id" value="<%= @match.id %>">
        <input type="hidden" name="squad_id" value="<%= @match.home_squad.id %>">
        <div class="input-group">
        <select class="custom-select" name="user_id">
          <option selected disabled>Choose...</option>
          <% @other_users.each do |user| %>
            <option value="<%= user.id %>"><%= user.username %></option>
          <% end %>
        </select>
        <div class="input-group-append">
        <button type="submit" class="btn btn-outline-dark btn-sm">Add player to home team</button>
        </div>
        </div>
      </form>
    </div>   
  </div>
</div>

<p>
</p>

<% if @away_players.present? %>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <p class="font-weight-bold">Away team players</p>
      </div>
      <div class="col-sm-2">
        <p class="font-weight-bold">Goals scored</p>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-md-auto">
      </div>
    </div>
  </div>
<% end %>

<div class="container"> 
  <% @away_players.each do |player| %>
    <div class="row"> 
      <div class="col-sm-2">
        <%= player.username %>
      </div>
      <div class="col-sm-2">
        <%= player.goals_scored %>
      </div>
      <div class="col-sm-2"> 
      </div>
      <div class="col-md-auto">

        <form class="form-inline" action="/add_goal_scored" method=post style="display: inline;"> 
          <input type="hidden" value="put" name="_method">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token() %>"/>
          <input type="hidden" name="match_id" value="<%= @match.id %>">  
          <input type="hidden" name="player_id" value="<%= player.id %>">
          <button type="submit" class="btn btn-success btn-sm">Add goal</button>
        </form>

        <form class="form-inline" action="/subtract_goal_scored" method=post style="display: inline;">
          <input type="hidden" value="put" name="_method">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token() %>"/>
          <input type="hidden" name="match_id" value="<%= @match.id %>">
          <input type="hidden" name="player_id" value="<%= player.id %>">
          <button type="submit" class="btn btn-danger btn-sm">Subtract goal</button>
        </form>
        
        <form class="form-inline" action="/destroy_player" method=post style="display: inline;">
          <input type="hidden" value="delete" name="_method">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token() %>"/>
          <input type="hidden" name="match_id" value="<%= @match.id %>">  
          <input type="hidden" name="player_id" value="<%= player.id %>">
          <button type="submit" class="btn btn-outline-dark btn-sm">Remove player</button>
        </form>
      </div>
    </div>
  <% end %>
</div> 

<p>
</p>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2"> 
    </div>
    <div class="col-md-auto">
      <form class="form-inline" action="/player_create" method=post style="display: inline;">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="match_id" value="<%= @match.id %>">
        <input type="hidden" name="squad_id" value="<%= @match.away_squad.id %>">
        <div class="input-group">
        <select class="custom-select" name="user_id">
          <option selected disabled>Choose...</option>
          <% @other_users.each do |user| %>
            <option value="<%= user.id %>"><%= user.username %></option>
          <% end %>
        </select>
        <div class="input-group-append">
        <button type="submit" class="btn btn-outline-dark btn-sm">Add player to away team</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>


  
